/* CSS for the Head First Lounge page
 * by Maribeth Rauh
 */

body {
    font-size:      small;
    font-family:    Verdana, Helvetica, sans-serif;
    
    line-height: 1.6em;
}

h1, h2 {
    color: #007e7e;
}

h1 {
    /*border-bottom:  1px solid black;*/
    font-size:      150%;
}

h2 {
    font-size: 130%;
}

#guarentee {
    border:   1px dashed white;
    
    padding:        25px;
    padding-left:   80px;
    
    margin:         30px;
    margin-right:   250px;
    
    background-color:       #a7cece;
    background-image:       url(images/background.gif);
    background-repeat:      no-repeat;
    background-position:    top left;

    font-family:    Georgia, "Times New Roman",  Times, serif;
    color:          #444444;
    font-style:     italic;
    line-height:    1.9em;
}

#elixirs {
    border-width:   thin;
    border-style:   solid;
    border-color:   #007e7e;
    
    width:  200px;
    
    padding-bottom: 20px;
    padding-left:   20px;
    padding-right:  20px;
    
    margin-left:    20px;
    
    text-align:     center;
    line-height:    1;
    
    background-image:   url(images/cocktail.gif);
    background-repeat:  repeat-x;
    
    float:  right;
}

#elixirs h2 {
    color:  #333;
}

#elixirs h3 {
    color:  #d12c47;
}

#footer {
    font-size:  50%;
    text-align: center;
    line-height:normal;
    margin-top: 30px;
}


/* Music section*/
.cd {
    font-style: italic;
}

.artist {
    font-weight: bold;
}

a:link {
    color:  #007e7e;
}

a:visited {
    color:  #333;
}

#elixirs a:link {
    color:  #007e7e;
}

#elixirs a:visited {
    color:  #333;
}

#elixirs a:hover {
    background: #f88396;
    color:  #0d5353;
}